<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joomac.dao.NoticeDAO">

    <select id="selectNoticeList" resultType="com.joomac.dto.NoticeDTO">
        SELECT *
        FROM notice
        ORDER BY nno DESC
    </select>

    <select id="selectNotice" parameterType="int"
            resultType="com.joomac.dto.NoticeDTO">
        SELECT *
        FROM notice
        WHERE nno = #{nno}
    </select>

    <insert id="insertNotice" parameterType="com.joomac.dto.NoticeDTO">
        INSERT INTO notice (
        nno, 
        ntitle, 
        ncontent, 
        nimage, 
        ndate
    ) VALUES (
        notice_seq.NEXTVAL, 
        #{ntitle}, 
        #{ncontent}, 
        #{nimage}, 
        SYSDATE
    )
    </insert>
	
	<update id="updateNotice" parameterType="com.joomac.dto.NoticeDTO">
    	UPDATE notice
    	SET 
       		ntitle = #{ntitle},
        	ncontent = #{ncontent},
        	nimage = #{nimage}
    	WHERE nno = #{nno}
	</update>

	<delete id="deleteNotice" parameterType="int">
    	DELETE FROM notice WHERE nno = #{nno}
	</delete>
	
	<select id="selectRecentNotices" resultType="com.joomac.dto.NoticeDTO">
		  SELECT nno, ntitle, ndate
		  FROM notice
		  ORDER BY nno DESC
		  FETCH FIRST #{limit} ROWS ONLY
	</select>
	
</mapper>